@font-face { 
	font-family: "Coolvetica"; 
	src: url("../fonts/coolvetica.ttf"); 
}

body {
	background: #C01A2C !important;
    font-family: "Coolvetica";
    color: #FeFeFe;
}

a, .u-url  {
	color: #b8d4db;
}

a:hover {
	color: #FeFeFe;
}